<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="mesonNature" point="org.eclipse.core.resources.natures" name="%MesonNature.name">
      <runtime>
         <run class="org.icemoon.cdt.meson.core.MesonNature" />
      </runtime>
   </extension>
   <extension point="org.eclipse.cdt.core.buildConfigProvider">
      <provider class="org.icemoon.cdt.meson.core.corebuild.internal.MesonBuildConfigurationProvider" 
      			id="org.icemoon.cdt.meson.core.provider"
      			natureId="org.icemoon.cdt.meson.core.mesonNature" />
   </extension>
   
   <extension
         id="managedMesonNature"
         name="%ManagedMesonNature.name"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
      <runtime>
         <run
               class="org.icemoon.cdt.meson.core.managed.ManagedMesonProjectNature">
         </run>
      </runtime>
      <builder
            id="org.icemoon.cdt.meson.core.genscriptbuilder">
      </builder>
   </extension>

   <extension id="org.icemoon.cdt.meson.core.managed.build.info"
         name="Meson Managed Build Info" point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="4.0.0" />
      <builder autoBuildTarget="all" 
      			buildRunner="org.icemoon.cdt.meson.core.managed.internal.MesonBuildRunner" 
      			buildfileGenerator="org.icemoon.cdt.meson.core.managed.internal.MesonGenerator2" 
      			cleanBuildTarget="clean" 
      			command="${MesonBuildTool}" 
      			id="org.icemoon.cdt.meson.core.genscriptbuilder" 
      			ignoreErrCmd="${MesonBuildToolIgnErr}" 
      			incrementalBuildTarget="all"
      			errorParsers="org.icemoon.cdt.meson.core.MesonErrorParser" 
      			name="Meson Builder" />
   </extension>
   
   <extension id="MesonErrorParser" name="%MesonErrorParser.name" point="org.eclipse.cdt.core.ErrorParser">
      <errorparser id="org.icemoon.cdt.meson.core.MesonErrorParser" name="%MesonErrorParser.name" class="org.icemoon.cdt.meson.core.MesonErrorParser" />
   </extension>
   
   <extension id="problem" name="Meson Problem" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
      <super type="org.eclipse.core.resources.textmarker" />
   </extension>
   
   <extension point="org.eclipse.cdt.managedbuilder.core.buildProperties">
      <propertyValue property="org.eclipse.cdt.build.core.buildArtefactType" id="org.icemoon.cdt.meson.core.buildArtefactType.MESON" name="defined by meson.build" />
   </extension> 
</plugin>

